
#pf{
    border-radius:15px;
    margin-left:15px;
    margin-right:15px; 
    margin-bottom:10%;
    background-color: #303335;
    opacity: 0.98
}
.card{

}
.description{
    padding: 20px; 
}
/* .linkedin{

} */
.cardWrap{
    max-width: 65%;
    float: left;
}
.musicAudio{
    float: right;
}
.upperBtn{
    padding:10px;
    position: relative;
    bottom: 80%;
    text-emphasis: bold;

}
.exp{

}
.name{
    font-size: 1.95rem;
    font-family: Poppins;
    font-weight: 100;
   
    text-shadow: 2px 2px #212529;
    padding: 2%;
}
.myApps{
   text-align: center;
   margin-bottom: 30px;
   
}
#next{
    margin-top: 10px;
    float: right;
    
}
.aboutMe{
    /* box-shadow: 10px 10px 5px grey; */
}
#ul{
    margin-top:5px;
}
.btn_color{
    background-color: #45c3f9;
    border-radius: 25px;
}
.btn{
    border-radius:25px;
}
#prev{
    margin-top: 10px; 
}
/* body{
    background-color: #33343e;
} */
.img{
    padding: 12%;
    border-radius: 30%; 
   
}
#contact{
    margin-right:10px;
}
.jumbotron{
    
    position: relative;
    overflow: scroll;
    border-radius: 15px;
    bottom: 10%;
    background-color: #303335;
    /* width: 92.5%; */
    padding: 5.7rem 4rem;
    margin-left: 2%;
    margin-right:2%;
    opacity:0.98
}
#app-header{
    text-align: center; 
}
.poppins{
    font-family: 'Poppins', sans-serif;

}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: #303335;;
    opacity:0.8;
    width: 100%;
 
    

}
.foot{
    background-color: #303335;
    height: 10vh; 
}

.ghLink{
    float: right
}
.top-btn{
    margin-top:10px; 
    margin-bottom: 10px;
}
.mainNav{
    position: relative;
    top:-20px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
@media only screen and (max-width: 780px) {
    /* .apptron{
        position: relative;
        top: 10%;
        background-color: rgb(46, 76, 88);
       
        padding: 6rem 4rem;
        margin-left: 2%;
        opacity:0.8
    } */

    #linkedin-btn{
        position: relative;
        left: -4%;
        
    }
    .btn-container{
        display: grid;
      
    }
    #next{
        margin-top: 10px;
        position: relative;
        bottom: 98%;
        float: right;
    }
 
    .ghLink{
        position: relative;
        bottom: 38px;
        left: 30px;
    }
    /* .jtbtn{
        
    } */
  }
